[
    {
        "name": "config1",
        "agent": "simple_agent",
        "appToAccess": "llm-api",
        "clientId": "your-client-id-1",
        "clientSecret": "your-client-secret-1",
        "tenant": "your-tenant-1"
    },
    {
        "name": "config2",
        "agent": "simple_agent",
        "appToAccess": "llm-api",
        "clientId": "your-client-id-2",
        "clientSecret": "your-client-secret-2",
        "tenant": "your-tenant-2"
    }
]
